---
import Layout from "../layouts/Layout.astro";
import latestVersion from "latest-version";

const version = await latestVersion("vlr.js");
---

<Layout title="vlr.js">
  <div class="mainCnt cinzel">
    <div class="m-head"><span></span></div>
    <div class="m-content">
      <div class="m-top">
        <span class="m-left">
          <a
            href="https://npmjs.org/package/vlr.js"
            rel="noopener noreferrer"
            target="_blank"
          >
            <b>Version:</b>
            {version}
          </a>
        </span>
        <span class="m-right">
          <a
            href="https://www.vlr.gg/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <b>VLR.GG</b>
          </a>
        </span>
      </div>
      <div class="m-middle">
        <h1 class="cinzel" id="install"><a href="#install">Install</a></h1>
        <div class="cinzel tabs needs-js">
          <button id="npm" class="active">Npm</button>
          <button id="yarn">Yarn</button>
          <button id="pnpm">Pnpm</button>
        </div>
        <div id="_npm" style="display:block;" class="no-js">
          <figcaption class="header"></figcaption>
          <code class="extra">
            <span class="line terminal">
              <span class="npm">npm</span> install vlr.js
            </span>
          </code>
        </div>
        <div id="_yarn" class="no-js">
          <figcaption class="header"></figcaption>
          <code class="extra">
            <span class="line terminal">
              <span class="yarn">yarn</span> add vlr.js
            </span>
          </code>
        </div>
        <div id="_pnpm" class="no-js">
          <figcaption class="header"></figcaption>
          <code class="extra">
            <span class="line terminal">
              <span class="pnpm">pnpm</span> add vlr.js
            </span>
          </code>
        </div>
        <h1 class="cinzel" id="apiRef"><a href="#apiRef">Api Reference</a></h1>
        <h2 id="getPage"><a href="#getPage">getPage()</a></h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">match =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getPage</span><span
              ><span style="color:#D8DEE9">(</span><span style="color:#16C082"
                >'/6'</span
              ><span style="color:#D8DEE9">);</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >match</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
        <h2 id="getMatches"><a href="#getMatches">getMatches()</a></h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">matches =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getMatches</span><span
              ><span style="color:#D8DEE9">();</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >matches</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
        <h2 id="getMatchResults">
          <a href="#getMatchResults">getMatchResults()</a>
        </h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">matchResults =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getMatchResults</span><span
              ><span style="color:#D8DEE9">();</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >matchResults</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
      </div>
    </div>
  </div>
</Layout>
<script>
  document.getElementsByClassName("tabs")[0].classList.remove("needs-js");
  document.getElementById("_npm").classList.remove("no-js");
  document.getElementById("_yarn").classList.remove("no-js");
  document.getElementById("_pnpm").classList.remove("no-js");
  $("#npm").on("click", function () {
    $("#npm").addClass("active");
    $("#yarn").removeClass("active");
    $("#pnpm").removeClass("active");
    $("#_npm").show();
    $("#_pnpm").hide();
    $("#_yarn").hide();
  });
  $("#yarn").on("click", function () {
    $("#yarn").addClass("active");
    $("#npm").removeClass("active");
    $("#pnpm").removeClass("active");
    $("#_npm").hide();
    $("#_pnpm").hide();
    $("#_yarn").show();
  });
  $("#pnpm").on("click", function () {
    $("#pnpm").addClass("active");
    $("#yarn").removeClass("active");
    $("#npm").removeClass("active");
    $("#_npm").hide();
    $("#_pnpm").show();
    $("#_yarn").hide();
  });
</script>
<style is:global>
  a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
  }
  a:hover {
    text-shadow: 0px 0px 10px #2e89e4;
  }
  .mainCnt {
    max-width: 620px;
    margin: 0 auto;
  }
  .mainCnt .m-head {
    margin: 14px auto 0 auto;
    width: 100%;
    line-height: 1;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .mainCnt .m-head::before {
    content: "VLR";
  }
  .mainCnt .m-head span::after {
    content: "js";
    text-transform: lowercase;
    margin-left: -5px;
    color: #fb4343;
  }
  .mainCnt .m-head span::before {
    content: ".";
    font-size: 8rem;
    line-height: 1;
    color: #fb4343;
  }
  .mainCnt .m-content {
    margin: 24px auto 0 auto;
    max-width: 444px;
    font-size: 18px;
  }
  .mainCnt .m-top {
    display: block;
    max-width: 70%;
    margin: 0 auto 0 auto;
  }
  .mainCnt .m-middle {
    display: block;
    max-width: 90%;
    margin: 0 auto 0 auto;
    padding-top: 48px;
    font-family: "noto serif jp";
  }
  .mainCnt .m-middle > h1 {
    padding-top: 14px;
  }
  .mainCnt .m-middle h1 {
    padding-bottom: 16px;
    font-size: 3.125rem;
  }
  .mainCnt .m-middle h2 {
    font-size: 1.75rem;
    display: block;
    margin-bottom: 16px;
  }
  .mainCnt .api-ref::before {
    display: block;
    content: "Api Reference";
    font-family: "Cinzel", serif;
    font-size: 2.7rem;
    padding-top: 24px;
  }
  .mainCnt .m-left {
    float: left;
    width: 50%;
    text-align: center;
    direction: ltr;
  }
  .mainCnt .m-right {
    margin-left: -10px;
    float: right;
    width: 50%;
    text-align: center;
    direction: rtl;
  }
  code {
    display: block;
    font-family: monospace;
    margin: 0;
    margin-bottom: 14px;
    font-size: 15px;
    padding: 14px 12px;
    margin-top: -4px;
    border-radius: 0.3rem;
    width: 94%;
    background: #1d1d1d;
    border-bottom: 2px solid #808080;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.175rem;
    background-color: #141313;
    min-height: 3rem;
    width: 116%;
    position: relative;
    z-index: 0;
  }
  .header::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 16' preserveAspectRatio='xMidYMid meet' fill='rgba(255, 255, 255, 0.15)'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Ccircle cx='30' cy='8' r='8'/%3E%3Ccircle cx='52' cy='8' r='8'/%3E%3C/svg%3E");
    position: absolute;
    left: 1rem;
    width: 4rem;
    line-height: 0;
  }
  code.extra {
    width: 116%;
  }
  code.large {
    width: 138%;
  }
  code .line {
    display: inline-block;
    line-height: 1.25;
    padding-inline-start: 0.25rem;
  }
  code .line.terminal {
    padding-inline-start: 1.25rem;
  }
  code copy {
    user-select: none;
    font-size: 0px;
  }
  code copy::after {
    content: "";
    display: inline-block;
    float: right;
    background: url("../images/copy_icon.png") no-repeat 0 0 / 100%;
    width: 20px;
    aspect-ratio: 1;
    padding-top: -3px;
    filter: invert(1);
    cursor: pointer;
    transition: 0.8s ease;
    opacity: 0;
  }
  code:hover copy::after {
    opacity: 1;
  }
  code .npm {
    content: "npm";
    color: #e82626;
  }
  code .yarn {
    content: "yarn";
    color: #2c8ebb;
  }
  code .pnpm {
    content: "pnpm";
    color: #f9b66b;
  }
  .line.terminal::before {
    content: "> ";
    color: #fff;
    opacity: 0.5;
  }

  .vh {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    color: #fff;
    border-radius: 0.5em;
  }
  .tabs button {
    padding: 0 8px;
    height: 38px;
    color: rgb(225, 225, 225);
    font-family: cinzel, serif;
    transition: 0.3s ease;
  }
  .tabs button::after {
    background: transparent;
  }
  .tabs button.active::after {
    content: "";
    display: block;
    margin: auto;
    height: 0.9px;
    width: 100%;
    background: white;
  }
  .tabs.needs-js {
    display: none;
  }
  #_yarn,
  #_pnpm,
  #_npm {
    display: none;
  }
  #_yarn.no-js,
  #_pnpm.no-js,
  #_npm.no-js {
    display: block;
  }
  /* NPM */
  #npm.active ~ #_npm {
    display: block;
  }
  #npm.active ~ #_pnpm {
    display: none;
  }
  #npm.active ~ #_yarn {
    display: none;
  }
  /* Yarn */
  #yarn.active ~ #_yarn {
    display: block;
  }
  #yarn.active ~ #_pnpm {
    display: none;
  }
  #yarn.active ~ #_npm {
    display: none;
  }
  /* PNPM */
  #pnpm.active ~ #_pnpm {
    display: block;
  }
  #pnpm.active ~ #_yarn {
    display: none;
  }
  #pnpm.active ~ #_npm {
    display: none;
  }
</style>
