---
import Layout from "../layouts/Layout.astro";
import latestVersion from "latest-version";

const version = await latestVersion("vlr.js");
---

<Layout title="vlr.js">
  <div class="mainCnt cinzel">
    <div class="m-head"><span></span></div>
    <div class="m-content">
      <div class="m-top">
        <span class="m-left">
          <a
            href="https://npmjs.org/package/vlr.js"
            rel="noopener noreferrer"
            target="_blank"
          >
            <b>Version:</b>
            {version}
          </a>
        </span>
        <span class="m-right">
          <a
            href="https://www.vlr.gg/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <b>VLR.GG</b>
          </a>
        </span>
      </div>
      <div class="m-middle">
        <h1 class="cinzel" id="install"><a href="#install">Install</a></h1>
        <div class="cinzel tabs needs-js">
          <button id="npm" class="active">Npm</button>
          <button id="yarn">Yarn</button>
          <button id="pnpm">Pnpm</button>
        </div>
        <div id="_npm" style="display:block;" class="no-js">
          <figcaption class="header"></figcaption>
          <code class="extra">
            <span class="line terminal">
              <span class="npm">npm</span> install vlr.js
            </span>
          </code>
        </div>
        <div id="_yarn" class="no-js">
          <figcaption class="header"></figcaption>
          <code class="extra">
            <span class="line terminal">
              <span class="yarn">yarn</span> add vlr.js
            </span>
          </code>
        </div>
        <div id="_pnpm" class="no-js">
          <figcaption class="header"></figcaption>
          <code class="extra">
            <span class="line terminal">
              <span class="pnpm">pnpm</span> add vlr.js
            </span>
          </code>
        </div>
        <h1 class="cinzel" id="apiRef"><a href="#apiRef">Api Reference</a></h1>
        <h2 id="getPage"><a href="#getPage">getPage()</a></h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">match =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getPage</span><span
              ><span style="color:#D8DEE9">(</span><span style="color:#16C082"
                >'/6'</span
              ><span style="color:#D8DEE9">);</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >match</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
        <h2 id="getMatches"><a href="#getMatches">getMatches()</a></h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">matches =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getMatches</span><span
              ><span style="color:#D8DEE9">();</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >matches</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
        <h2 id="getMatchResults">
          <a href="#getMatchResults">getMatchResults()</a>
        </h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">matchResults =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getMatchResults</span><span
              ><span style="color:#D8DEE9">();</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >matchResults</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
      </div>
    </div>
  </div>
</Layout>
<script is:inline>
  document.getElementsByClassName("tabs")[0].classList.remove("needs-js");
  document.getElementById("_npm").classList.remove("no-js");
  document.getElementById("_yarn").classList.remove("no-js");
  document.getElementById("_pnpm").classList.remove("no-js");
  $("#npm").on("click", function () {
    $("#npm").addClass("active");
    $("#yarn").removeClass("active");
    $("#pnpm").removeClass("active");
    $("#_npm").show();
    $("#_pnpm").hide();
    $("#_yarn").hide();
  });
  $("#yarn").on("click", function () {
    $("#yarn").addClass("active");
    $("#npm").removeClass("active");
    $("#pnpm").removeClass("active");
    $("#_npm").hide();
    $("#_pnpm").hide();
    $("#_yarn").show();
  });
  $("#pnpm").on("click", function () {
    $("#pnpm").addClass("active");
    $("#yarn").removeClass("active");
    $("#npm").removeClass("active");
    $("#_npm").hide();
    $("#_pnpm").show();
    $("#_yarn").hide();
  });
</script>
