---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro/components";
import latestVersion from "latest-version";
import Pkgs from "../layouts/Pkgs.astro";

const version = await latestVersion("vlr.js");
---

<Layout title="vlr.js">
  <div class="mainCnt cinzel">
    <div class="m-head"><span></span></div>
    <div class="m-content">
      <div class="m-top">
        <span class="m-left">
          <a>
            <b>Version:</b>
            {version}
          </a>
        </span>
        <span class="m-right">
          <a
            href="https://www.vlr.gg/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <b>VLR.GG</b>
          </a>
        </span>
      </div>
      <div class="m-middle">
        <h1 class="cinzel" id="install"><a href="#install">Install</a></h1>
        <Pkgs>
          <figcaption class="header" slot="npm"></figcaption>
          <code class="extra" slot="npm">
            <span class="line terminal">
              <span class="npm">npm</span> install vlr.js
            </span>
          </code>
          <figcaption class="header" slot="yarn"></figcaption>
          <code class="extra" slot="yarn">
            <span class="line terminal">
              <span class="yarn">yarn</span> add vlr.js
            </span>
          </code>
          <figcaption class="header" slot="pnpm"></figcaption>
          <code class="extra" slot="pnpm">
            <span class="line terminal">
              <span class="pnpm">pnpm</span> add vlr.js
            </span>
          </code>
        </Pkgs>
        <h1 class="cinzel" id="apiRef"><a href="#apiRef">Api Reference</a></h1>
        <h2 id="getPage"><a href="#getPage">getPage()</a></h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">match =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getPage</span><span
              ><span style="color:#D8DEE9">(</span><span style="color:#16C082"
                >'/6'</span
              ><span style="color:#D8DEE9">);</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >match</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
        <h2 id="getMatches"><a href="#getMatches">getMatches()</a></h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">matches =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getMatches</span><span
              ><span style="color:#D8DEE9">();</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >matches</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
        <h2 id="getMatchResults">
          <a href="#getMatchResults">getMatchResults()</a>
        </h2>
        <code class="extra">
          <span class="line"
            ><span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <br />
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">matchResults =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getMatchResults</span><span
              ><span style="color:#D8DEE9">();</span>
            </span>
          </span>
          <br />
          <br />
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >matchResults</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <br />
        </code>
      </div>
    </div>
  </div>
</Layout>
