---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro/components";
import latestVersion from "latest-version";

const version = await latestVersion("vlr.js");
---

<Layout title="vlr.js">
  <div class="mainCnt cinzel">
    <div class="m-head"><span></span></div>
    <div class="m-content">
      <div class="m-top">
        <span class="m-left">
          <a>
            <b>Version:</b>
            {version}
          </a>
        </span>
        <span class="m-right">
          <a
            href="https://www.vlr.gg/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <b>VLR.GG</b>
          </a>
        </span>
      </div>
      <div class="m-middle">
        <h1 class="cinzel" id="install"><a href="#install">Install</a></h1>
        <code>
          <span class="line terminal">
            <span class="npm">npm</span> install vlr.js
          </span>
        </code>
        <code>
          <span class="line terminal">
            <span class="yarn">yarn</span> add vlr.js
          </span>
        </code>
        <code>
          <span class="line terminal">
            <span class="pnpm">pnpm</span> add vlr.js
          </span>
        </code>
        <h1 class="cinzel" id="apiRef"><a href="#apiRef">Api Reference</a></h1>
        <h2 id="getPage"><a href="#getPage">getPage()</a></h2>
        <code id="getPage" style="width: 95%;">
          <span class="line">
            <span style="color:#FF657C">import</span>
            <span style="color:#D8DEE9">VLR</span>
            <span style="color:#FF657C">from</span>
            <span style="color:#16C082">'vlr.js'</span><span
              style="color:#C7C5D3">;</span
            >
          </span>
          <span class="line">
            <span style="color:#FF657C">const</span>
            <span style="color:#D8DEE9">match =</span>
            <span style="color:#D8DEE9"
              ><span style="color:#FF657C">await</span>&nbsp;VLR.</span
            ><span style="color:#66ADFF">getPage</span><span
              ><span style="color:#D8DEE9">(</span><span style="color:#16C082"
                >'/6'</span
              ><span style="color:#D8DEE9">);</span>
            </span>
          </span>
          <span class="line"></span>
          <span class="line">
            <span style="color:#D8DEE9">console.</span><span
              style="color:#66ADFF"
              >log<span
                ><span style="color:#D8DEE9">(</span><span style="color:#D8DEE9"
                  >match</span
                ><span style="color:#D8DEE9">);</span>
              </span>
            </span>
          </span>
          <div style="display:none;">
            <span class="line">
              <span style="color:#969595;">/* {"{"}</span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;type: 2,</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;data: {"{"}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;teams: [</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{` {`}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
                  ` name: "Obey Alliance",`
                }
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
                  ` link: "https://vlr.gg/team/11/obey-alliance"`
                }
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{` },`}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{` {`}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{` name: "Orgless",`}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
                  ` link: "https://vlr.gg/team/6/orgless"`
                }
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{` }`}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;{`],`}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;notes: ["final", "Bo1"],</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;maps: "Unknown",</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;vods: "Not Available",</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;winner: {"{"}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{` name: "Obey Alliance",`}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
                  ` link: "https://vlr.gg/team/11/obey-alliance"`
                }
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;{"},"}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;patch: "Not Available",</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;time: "Saturday, May 2nd - 1:00 PM
                EDT",</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;status: "Complete",</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;event: {"{ "}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name: "Valhalla
                Invitational",</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;series: "Week 1: Group A",</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;image:
                "https//owcdn.net/img/5ee1f8133ce4f.jpg",</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;link:
                "https://vlr.gg/event/2/valhalla-invitational/week-1"</span
              >
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;"
                >&nbsp;&nbsp;&nbsp;&nbsp;{`},`}
              </span>
            </span>
            <span class="line">
              <span style="color:#969595;tab-size: 2;">&nbsp;&nbsp;{"}"}</span>
            </span>
            <span class="line">
              <span style="color:#969595;">{"}"} */</span>
            </span>
          </div>
        </code>
      </div>
    </div>
  </div>
</Layout>
<style>
  a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
  }
  a:hover {
    text-shadow: 0px 0px 10px #2e89e4;
  }
  .mainCnt {
    max-width: 640px;
    margin: 0 auto;
  }
  .mainCnt .m-head {
    margin: 14px auto 0 auto;
    width: 284px;
    line-height: 1;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .mainCnt .m-head::before {
    content: "VLR";
  }
  .mainCnt .m-head span::after {
    content: "js";
    text-transform: lowercase;
    margin-left: -5px;
    color: #fb4343;
  }
  .mainCnt .m-head span::before {
    content: ".";
    font-size: 8rem;
    line-height: 1;
    color: #fb4343;
  }
  .mainCnt .m-content {
    margin: 24px auto 0 auto;
    max-width: 444px;
    font-size: 18px;
  }
  .mainCnt .m-top {
    display: block;
    max-width: 70%;
    margin: 0 auto 0 auto;
  }
  .mainCnt .m-middle {
    display: block;
    max-width: 90%;
    margin: 0 auto 0 auto;
    padding-top: 48px;
    font-family: "noto serif jp";
  }
  .mainCnt .m-middle > h1 {
    padding-top: 14px;
  }
  .mainCnt .m-middle h1 {
    padding-bottom: 16px;
    font-size: 3.125rem;
  }
  .mainCnt .m-middle h2 {
    font-size: 1.75rem;
    display: block;
    margin-bottom: 16px;
  }
  .mainCnt .api-ref::before {
    display: block;
    content: "Api Reference";
    font-family: cinzel, serif;
    font-size: 2.7rem;
    padding-top: 24px;
  }
  .mainCnt .m-left {
    float: left;
    width: 50%;
    text-align: center;
    direction: ltr;
  }
  .mainCnt .m-right {
    margin-left: -10px;
    float: right;
    width: 50%;
    text-align: center;
    direction: rtl;
  }
</style>

<style is:global>
  code {
    display: block;
    font-family: monospace;
    margin: 0;
    margin-bottom: 14px;
    font-size: 15px;
    padding: 14px 12px;
    margin-top: -4px;
    border-radius: 0.3rem;
    width: 94%;
    background: #1d1d1d;
    border-bottom: 2px solid #808080;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  code.large {
    width: 138%;
  }
  code .line {
    display: inline-block;
    line-height: 1.5;
    padding-inline-start: 1.25rem;
    min-width: calc(100% + 5.25rem);
  }
  code copy {
    user-select: none;
    font-size: 0px;
  }
  code copy::after {
    content: "";
    display: inline-block;
    float: right;
    background: url("../images/copy_icon.png") no-repeat 0 0 / 100%;
    width: 20px;
    aspect-ratio: 1;
    padding-top: -3px;
    filter: invert(1);
    cursor: pointer;
    transition: 0.8s ease;
    opacity: 0;
  }
  code:hover copy::after {
    opacity: 1;
  }
  code .npm {
    content: "npm";
    color: #c53635;
  }
  code .yarn {
    content: "yarn";
    color: #2c8ebb;
  }
  code .pnpm {
    content: "pnpm";
    color: #f9b66b;
  }
  .line.terminal::before {
    content: "> ";
    color: #fff;
    opacity: 0.5;
  }
</style>
