@charset "utf-8";

html {
    font-size: 62.5% !important
}

body {
    font-family: 'noto serif jp', serif;
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: .06em;
    min-width: 320px;
    position: relative;
}

body#index {
    overflow: hidden
}

body#index.active {
    overflow: auto
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 999999px;
    outline: none;
}

fieldset,
img {
    border: 0;
}

img {
    vertical-align: bottom;
    width: 100%;
}

.ah {
    transition: all .4s ease
}

.ah:hover {
    opacity: .7
}

.pc {
    display: block
}

.sp {
    display: none
}

#fullWrap {
    position: relative
}

.ani {
    transition: opacity 1.5s ease, -webkit-filter 1.5s ease, -moz-filter 1.5s ease, filter 1.5s ease;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    filter: blur(15px);
    opacity: 0
}

.ani.active {
    transition-delay: .3s;
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px)
}

#fullWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 3;
}

body#index main {
    position: relative;
}

#topVs_sp {
    position: relative;
    z-index: 1;
}

#triggerBox {
    position: fixed;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    z-index: 2;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    background: #508fd6;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: .3s ease;
}

.menu-trigger span {
    position: absolute;
    left: 16px;
    width: 22px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger span:nth-of-type(3) {
    top: 27px;
}

.menu-trigger span:nth-of-type(2) {
    top: 20px;
}

.menu-trigger span:nth-of-type(1) {
    top: 13px;
}

.menu-trigger.active span:nth-of-type(1) {
    transform: rotate(-45deg);
    top: 21px;
}

.menu-trigger.active span:nth-of-type(2) {
    transform: translateX(14px);
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    width: 22px;
    transform: rotate(45deg);
    top: 21px;
}

.menu-trigger small {
    position: absolute;
    text-align: center;
    font-size: 9px;
    font-size: .9rem;
    white-space: nowrap;
    line-height: 1;
    display: block;
    width: 100%;
    bottom: 8px;
    color: #fff;
    font-family: cinzel, serif;
    font-weight: 700;
}

#triggerBox.active .menu-trigger {
    background: #000;
}

#headIn {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 0;
    z-index: 1;
}

#headIn.active {
    left: 0;
}

#headIn.on::before {
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
}

body#index #headIn h1 {
    width: 244px;
    position: absolute;
    top: -20px;
    left: 15px;
    max-width: 350px;
    pointer-events: none;
}

body#index #headIn nav {
    position: absolute;
    left: 40px;
    bottom: 32px;
}

body#index #headIn nav ul li {
    margin-bottom: 1%;
    display: table;
}

#headIn>h1 {
    z-index: 2;
    position: relative;
}