---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;

const nav_list = [{ name: "EPISODES", value: "./episodes/" }];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/enquire.js" type="text/javascript"></script>

    <link href="/styles/style.css" rel="stylesheet" />
    <link href="/styles/common.css" rel="stylesheet" />
    <link href="/styles/layout.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
<style>
  a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
  }
  a:hover {
    text-shadow: 0px 0px 10px #2e89e4;
  }
  .mainCnt {
    max-width: 620px;
    margin: 0 auto;
  }
  .mainCnt .m-head {
    margin: 14px auto 0 auto;
    width: 284px;
    line-height: 1;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .mainCnt .m-head::before {
    content: "VLR";
  }
  .mainCnt .m-head span::after {
    content: "js";
    text-transform: lowercase;
    margin-left: -5px;
    color: #fb4343;
  }
  .mainCnt .m-head span::before {
    content: ".";
    font-size: 8rem;
    line-height: 1;
    color: #fb4343;
  }
  .mainCnt .m-content {
    margin: 24px auto 0 auto;
    max-width: 444px;
    font-size: 18px;
  }
  .mainCnt .m-top {
    display: block;
    max-width: 70%;
    margin: 0 auto 0 auto;
  }
  .mainCnt .m-middle {
    display: block;
    max-width: 90%;
    margin: 0 auto 0 auto;
    padding-top: 48px;
    font-family: "noto serif jp";
  }
  .mainCnt .m-middle > h1 {
    padding-top: 14px;
  }
  .mainCnt .m-middle h1 {
    padding-bottom: 16px;
    font-size: 3.125rem;
  }
  .mainCnt .m-middle h2 {
    font-size: 1.75rem;
    display: block;
    margin-bottom: 16px;
  }
  .mainCnt .api-ref::before {
    display: block;
    content: "Api Reference";
    font-family: cinzel, serif;
    font-size: 2.7rem;
    padding-top: 24px;
  }
  .mainCnt .m-left {
    float: left;
    width: 50%;
    text-align: center;
    direction: ltr;
  }
  .mainCnt .m-right {
    margin-left: -10px;
    float: right;
    width: 50%;
    text-align: center;
    direction: rtl;
  }
  code {
    display: block;
    font-family: monospace;
    margin: 0;
    margin-bottom: 14px;
    font-size: 15px;
    padding: 14px 12px;
    margin-top: -4px;
    border-radius: 0.3rem;
    width: 94%;
    background: #1d1d1d;
    border-bottom: 2px solid #808080;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.175rem;
    background-color: #141313;
    min-height: 3rem;
    width: 464px;
    position: relative;
    z-index: 0;
  }
  .header::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 16' preserveAspectRatio='xMidYMid meet' fill='rgba(255, 255, 255, 0.15)'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Ccircle cx='30' cy='8' r='8'/%3E%3Ccircle cx='52' cy='8' r='8'/%3E%3C/svg%3E");
    position: absolute;
    left: 1rem;
    width: 4rem;
    line-height: 0;
  }
  code.extra {
    width: 116%;
  }
  code.large {
    width: 138%;
  }
  code .line {
    display: inline-block;
    line-height: 1.25;
    padding-inline-start: 0.25rem;
  }
  code .line.terminal {
    padding-inline-start: 1.25rem;
  }
  code copy {
    user-select: none;
    font-size: 0px;
  }
  code copy::after {
    content: "";
    display: inline-block;
    float: right;
    background: url("../images/copy_icon.png") no-repeat 0 0 / 100%;
    width: 20px;
    aspect-ratio: 1;
    padding-top: -3px;
    filter: invert(1);
    cursor: pointer;
    transition: 0.8s ease;
    opacity: 0;
  }
  code:hover copy::after {
    opacity: 1;
  }
  code .npm {
    content: "npm";
    color: #e82626;
  }
  code .yarn {
    content: "yarn";
    color: #2c8ebb;
  }
  code .pnpm {
    content: "pnpm";
    color: #f9b66b;
  }
  .line.terminal::before {
    content: "> ";
    color: #fff;
    opacity: 0.5;
  }
</style>

  </head>
  <body id="index" class="active">
    <div id="topWrap" class="active">
      <div id="fullWrap" class="active">
        <main class="ani active">
          <slot />
        </main>
        <footer>
          <span>Copyright &copy; 2022, Marill.</span>
        </footer>
      </div>
    </div>
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-height: 999999px;
        outline: none;
      }
      footer {
        display: flex;
        height: 84px;
        margin: auto;
      }
      footer span {
        height: 24px;
        font-size: 1.125rem;
        line-height: 1;
        text-align: center;
        margin: auto;
      }
    </style>
  </body>
</html>
