---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;

const nav_list = [{ name: "EPISODES", value: "./episodes/" }];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <link
      href="https://raw.githubusercontent.com/vlrjs/website/main/public/styles/style.css"
      rel="stylesheet"
    />
    <link
      href="https://raw.githubusercontent.com/vlrjs/website/main/public/styles/common.css"
      rel="stylesheet"
    />
    <link
      href="https://raw.githubusercontent.com/vlrjs/website/main/public/styles/layout.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript">
      document.getElementsByClassName("tabs")[0].classList.remove("needs-js");
      document.getElementById("_npm").classList.remove("no-js");
      document.getElementById("_yarn").classList.remove("no-js");
      document.getElementById("_pnpm").classList.remove("no-js");
      $("#npm").on("click", function () {
        $("#npm").addClass("active");
        $("#yarn").removeClass("active");
        $("#pnpm").removeClass("active");
        $("#_npm").show();
        $("#_pnpm").hide();
        $("#_yarn").hide();
      });
      $("#yarn").on("click", function () {
        $("#yarn").addClass("active");
        $("#npm").removeClass("active");
        $("#pnpm").removeClass("active");
        $("#_npm").hide();
        $("#_pnpm").hide();
        $("#_yarn").show();
      });
      $("#pnpm").on("click", function () {
        $("#pnpm").addClass("active");
        $("#yarn").removeClass("active");
        $("#npm").removeClass("active");
        $("#_npm").hide();
        $("#_pnpm").show();
        $("#_yarn").hide();
      });
    </script>
    <style>
      .vh {
        position: absolute !important;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
      }
      .tabs {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
        color: #fff;
        border-radius: 0.5em;
      }
      .tabs button {
        padding: 0 8px;
        height: 38px;
        color: rgb(225, 225, 225);
        font-family: cinzel, serif;
        transition: 0.3s ease;
      }
      .tabs button::after {
        background: transparent;
      }
      .tabs button.active::after {
        content: "";
        display: block;
        margin: auto;
        height: 0.9px;
        width: 100%;
        background: white;
      }
      .tabs.needs-js {
        display: none;
      }
      #_yarn,
      #_pnpm,
      #_npm {
        display: none;
      }
      #_yarn.no-js,
      #_pnpm.no-js,
      #_npm.no-js {
        display: block;
      }
      /* NPM */
      #npm.active ~ #_npm {
        display: block;
      }
      #npm.active ~ #_pnpm {
        display: none;
      }
      #npm.active ~ #_yarn {
        display: none;
      }
      /* Yarn */
      #yarn.active ~ #_yarn {
        display: block;
      }
      #yarn.active ~ #_pnpm {
        display: none;
      }
      #yarn.active ~ #_npm {
        display: none;
      }
      /* PNPM */
      #pnpm.active ~ #_pnpm {
        display: block;
      }
      #pnpm.active ~ #_yarn {
        display: none;
      }
      #pnpm.active ~ #_npm {
        display: none;
      }
    </style>
  </head>
  <body id="index" class="active">
    <div id="topWrap" class="active">
      <div id="fullWrap" class="active">
        <main class="ani active">
          <slot />
        </main>
        <footer>
          <span>Copyright &copy; 2022, Marill.</span>
        </footer>
      </div>
    </div>
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-height: 999999px;
        outline: none;
      }
      footer {
        display: flex;
        height: 84px;
        margin: auto;
      }
      footer span {
        height: 24px;
        font-size: 1.125rem;
        line-height: 1;
        text-align: center;
        margin: auto;
      }
    </style>
  </body>
</html>
