<>
    <div class="cinzel tabs needs-js">
        <button id="npm" class="active">Npm</button>
        <button id="yarn">Yarn</button>
        <button id="pnpm">Pnpm</button>
    </div>
    <div id="_npm" style="display:block;" class="no-js">
        <slot name="npm" />
    </div>
    <div id="_yarn" class="no-js"><slot name="yarn" /></div>
    <div id="_pnpm" class="no-js"><slot name="pnpm" /></div>
</>
